ul {
    list-style: none;

    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}