body {
            background-color: #1a1a1a;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: sans-serif;
            min-height: 100vh;
            margin: 0;
            justify-content: center;
        }

        h1 { margin-bottom: 30px; letter-spacing: 2px; }

        table {
            border-spacing: 15px; /* Espacio entre asientos */
        }

        .fa-couch {
            font-size: 2rem;
            cursor: pointer;
            transition: transform 0.2s, color 0.3s;
        }

        /* Color cuando el asiento está libre */
        .libre { color: rgb(99, 230, 190); }
        
        /* Color cuando está ocupado */
        .ocupado { color: #e74c3c; }

        /* Efecto al pasar el ratón */
        .fa-couch:hover {
            transform: scale(1.2);
            filter: brightness(1.5);
        }